{% include header.html %}

{% if site.layout == 'stacked' %}
  <div class="container-lg py-6 p-responsive text-center">
    {% include masthead.html metadata=true %}

    <div {% if site.style == 'dark' %}class="text-white"{% endif %}>
      {{ content }}
    </div>

    <div class="my-6">
      {% include projects.html %}
    </div>

    {% if site.topics %}
      <div class="my-6">
        {% include interests.html %}
      </div>
    {% endif %}

    {% unless posts_total == 0 %}
      <div class="my-6">
        {% include thoughts.html %}
      </div>
    {% endunless %}
  </div>
{% else %}
<div>
<nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="http://cra1g.ca">
                        CRA1G.CA</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="http://cra1g.ca">
                        <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                        Home</a>
                </li><li class="nav-item"><a class="nav-link link text-white display-4" href="crypto.html"><span class="mbri-growing-chart mbr-iconfont mbr-iconfont-btn"></span>
                        Cryptocurrency</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="https://github.com/cra1gg"><span class="mbri-github mbr-iconfont mbr-iconfont-btn"></span>
                        GitHub</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="battlestation.html"><span class="mbrib-desktop mbr-iconfont mbr-iconfont-btn"></span>Battlestation</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="currentprojects.html" aria-expanded="false"><span class="mbrib-setting3 mbr-iconfont mbr-iconfont-btn"></span>Projects</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="pc.html" aria-expanded="false"><span class="mbri-setting mbr-iconfont mbr-iconfont-btn"></span>PC Builds</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="https://mobirise.com">
                        </a></li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="https://mobirise.com">
                        </a>
                </li></ul>
            
        </div>
    </nav>
   </div>
  <div class="d-md-flex min-height-full {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">
    <div class="flex-self-stretch {% if site.style == 'dark' %}bg-gray-dark{% else %}border-md-right border-gray-light bg-white{% endif %} col-md-5 col-lg-4 col-xl-3 px-4 px-md-6 px-lg-7 py-6">
      {% include masthead.html metadata=true %}
    </div>

    <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>
      <div class="mx-auto" style="max-width: 900px;">
        {% unless content == ""  %}
          <div class="f4 {% if site.style == 'dark' %}text-white{% endif %} mb-6">
            {{ content }}
          </div>
        {% endunless %}

        {% include projects.html %}

        {% if site.topics %}
          {% include interests.html %}
        {% endif %}

        {% unless posts_total == 0 %}
          {% include thoughts.html %}
        {% endunless %}
      </div>
    </div>
  </div>
{% endif %}

{% include footer.html %}
